################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CitysInfo/config/applicationhost.config
/.vs/CitysInfo/DesignTimeBuild/.dtbcache.v2
/.vs/CitysInfo/FileContentIndex/2a053c79-57ab-4982-9789-b8b8b4f10444.vsidx
/.vs/CitysInfo/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
/.vs/CitysInfo/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
/.vs/CitysInfo/CopilotIndices/17.14.878.3237/CodeChunks.db
/.vs/CitysInfo/CopilotIndices/17.14.878.3237/CodeChunks.db
/.vs/CitysInfo/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
/.vs/CitysInfo/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
/.vs/CitysInfo/CopilotIndices/17.14.878.3237/SemanticSymbols.db
/CitysInfo/obj/project.nuget.cache
